.detail-section {
    margin-top: 75px;
}

.container-fluid {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Để tạo khoảng trống giữa hai phần */
    flex:2;
    
}

.detail-img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    height: 400px;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: #6c757d;
}

h3, h4 {
    font-weight: bold;
}

.price {
    font-size: 24px;
    color: #e60023;
}

.quantity-control {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.quantity-input {
    width: 50px;
    text-align: center;
    margin: 0 5px;
}

.btn-sm {
    padding: 5px 10px;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #fff;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-dark {
    background-color: #343a40;
    border-color: #343a40;
    color: #fff;
}

.btn-dark:hover {
    background-color: #23272b;
    border-color: #1d2124;
}

hr {
    margin: 20px 0;
}

a.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

a.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.relevant-content {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.detail-section{
    display: flex;
    flex-direction: row;
}