
<div class="detail-section">
    <div class="container-fluid">
        <img src="{{book.thumbnail}}" class="detail-img">
            
        <h3>{{book.title}}</h3>
        <h3>{{book.author}}</h3>    
        <div class="price">{{book.unitPrice | currency:'VND'}}</div>

        <a href="#" class="btn btn-primary">Add to Cart</a>
        <hr>
        <h4>Description</h4>
        <p>{{book.description}}</p>
        <h4>Ngôn ngữ</h4>
        <p>{{book.language}}</p>

        <a routerLink="/book" class="btn btn-primary">Trở về</a>
    </div>
</div>