<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <!-- <aside class="menu-sidebar d-none d-lg-block">
      <div class="logo" style="background-color: #00d29a;">
        <a href="#">
          <img
            src="assets/images/logo.png"
            alt="BESTORE"
            width="200"
            style="height: 75px; object-fit: cover;"
          />
        </a>
      </div>
  
      <app-book-category-menu ></app-book-category-menu>
    </aside> -->
    <!-- <app-aside></app-aside> -->
    <!-- END MENU SIDEBAR-->
    <!-- PAGE CONTAINER-->
   
      
    <!-- <app-header></app-header> -->
    
  
      <!-- END HEADER DESKTOP-->
  
      <!-- MAIN CONTENT-->
      <!-- <app-login></app-login> -->
      
      <router-outlet style="margin-top:75px" ></router-outlet>
   
      <!-- <app-book-list></app-book-list> -->
    
  </div>
  
  <!-- <footer  style="background-color: #00d29a; height: 75px; bottom: 0; width: calc(100%); z-index: 11;">
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </footer> -->
  
  
</body>
</html>