<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()">
                <!-- user -->
                <div formGroupName="user" class="form-area">
                    <h3>Đăng ký tài khoản</h3>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Tài khoản
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <input type="text" formControlName="account" >

                                <div *ngIf="account?.invalid && (account?.dirty || account?.touched)" class="alert alert-danger">
                                    <div *ngIf="(account?.errors?.['required'] || account?.errors?.['allwhitespace'] )">
                                        tài khoản không được để trống
                                    </div>
                                    <div *ngIf="account?.errors?.['minlength']">
                                        Mật khẩu ít nhất  6 ký tự
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Mật khẩu
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <input type="password" formControlName="password" >

                                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger">
                                    <div *ngIf="(password?.errors?.['required'] || password?.errors?.['allwhitespace'] )">
                                        Mật khẩu không được để trống
                                    </div>
                                    <div *ngIf="password?.errors?.['minlength']">
                                        Mật khẩu ít nhất  6 ký tự
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Họ và tên
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <input type="text" formControlName="username" >

                                <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert alert-danger">
                                    <div *ngIf="(username?.errors?.['required'] || username?.errors?.['allwhitespace'] )">
                                        Họ và tên không được để trống
                                    </div>
                                    <div *ngIf="username?.errors?.['minlength']">
                                        Họ và tên ít nhất  3 ký tự
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Số điện thoại
                            </label>
                        </div>
                        <!-- Add more fields as needed -->
                        <div class="col-md-10">
                            <div class="input-space">
                                <input type="text" formControlName="phoneNumber" >

                                <div *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)" class="alert alert-danger">
                                    <div *ngIf="(phoneNumber?.errors?.['required'] || phoneNumber?.errors?.['allwhitespace'] )">
                                        Số điện thoại không được để trống
                                    </div>
                                    <div *ngIf="phoneNumber?.errors?.['minlength']">
                                        Số điện thoại ít nhất  10 ký tự
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Email
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <input type="text" formControlName="email" >

                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
                                    <div *ngIf="(email?.errors?.['required'] || email?.errors?.['allwhitespace'] )">
                                        Email không được để trống
                                    </div>
                                    <div *ngIf="email?.errors?.['email']">
                                        Email không đúng định dạng
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    
                    

                    <div class="text-center">
                        <button class="btn btn-info" type="submit">Đăng ký</button>
                    </div> 

                </div>
            </form>
        </div>
    </div>
</div>