body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #0066ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sidebar-header {
    padding: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
  }

  .sidebar .nav-item {
    width: 100%;
  }

  .sidebar .nav-link {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
  }

  .sidebar .nav-link.active, .sidebar .nav-link:hover {
    background-color: #f8f9fa;
    color: #0066ff;
  }

  .sidebar .icon {
    margin-right: 10px;
  }

  .logout-button {
    margin: 20px;
  }

  .main-content {
    margin-left: 16.6667%;
    padding: 20px;
    background-color: #f1f1f1;
    height: 100vh;
    overflow-y: auto;
  }

  @media (max-width: 767.98px) {
    .sidebar {
      display: none;
    }
    .main-content {
      margin-left: 0;
    }
  }