
<div class="container">
    <h1>Order Details</h1>
    
    <div class="row">
      <div class="col-md-6">
        <h3>Order Information</h3>
        <p><strong>Order ID:</strong> {{ orderResponse.order_id }}</p>
        <p><strong>User ID:</strong> {{ orderResponse.user_id }}</p>
        <p><strong>Tên người nhận:</strong> {{ orderResponse.customer_name}}</p>
        <p><strong>Số điện thoạir:</strong> {{ orderResponse.customer_phone}}</p>
        <p><strong>Email:</strong> {{ orderResponse.customer_email}}</p>
        <p><strong>Địa chỉ giao hàng:</strong> {{ orderResponse.shipping_address}}</p>
        <p><strong>Ngày đặt:</strong> {{ orderResponse.order_date | date }}</p>
        
        <div class="form-group">
          <label for="statusSelect"><strong>Status:</strong></label>
          <select class="form-control" id="statusSelect" 
            [(ngModel)]="orderResponse.status">
            <option value="pending">Pending</option>
            <option value="processing">Processing</option>
            <option value="shipped">Shipped</option>
            <option value="delivered">Delivered</option>
            <option value="cancelled">Cancelled</option>
          </select>
        </div>          
    </div>  
    <h3>Order Details</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Sách</th>
          <th>Giá</th>
          <th>Số lượng</th>
          <!--<th>Total</th>-->
        </tr>
      </thead>
      <tbody>
        @for(order_item of orderResponse.order_items; 
          track order_item.bookId) {
            <tr>
              <td>{{ order_item.bookId }}</td>
              <td>
                <p>{{order_item.unitPrice}}</p>          
              <td>
                <p>{{order_item.quantity}}</p>          
              </td>
              <!--<td>{{ order_detail.total_money }}</td>-->
            </tr>
        }      
      </tbody>
    </table>  
    <button class="btn btn-primary col-md-2" 
      (click)="saveOrder()">Lưu</button>
  </div>
