<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!-- customer -->
                <div formGroupName="customer" class="form-area">
                    <h3>Thông tin người nhận </h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Họ và tên
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <input type="text" formControlName="fullName" >

                                <div *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched)" class="alert alert-danger">
                                    <div *ngIf="(fullName?.errors?.['required'] || fullName?.errors?.['allwhitespace'] )">
                                        Họ và tên không được để trống
                                    </div>
                                    <div *ngIf="fullName?.errors?.['minlength']">
                                        Họ và tên ít nhất  3 ký tự
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Số điện thoại
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <input type="text" formControlName="phoneNumber" >

                                <div *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)" class="alert alert-danger">
                                    <div *ngIf="phoneNumber?.errors?.['required']|| phoneNumber?.errors?.['allwhitespace']">
                                        Số điện thoại không được để trống
                                    </div>
                                    <div *ngIf="phoneNumber?.errors?.['minlength']">
                                        Số điện thoại không hợp lệ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Email
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <input type="text" formControlName="email" >

                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
                                    <div *ngIf="email?.errors?.['required'] || email?.errors?.['allwhitespace']">
                                        Email không được để trống
                                    </div>
                                    <div *ngIf="email?.errors?.['email']">
                                        Email không hợp lệ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- shipping address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Địa chỉ giao hàng </h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Quốc gia
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <select  formControlName="country" (change)="getCities('shippingAddress')" >
                                    <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>

                                </select>
                                <div *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)" class="alert alert-danger">
                                    <div *ngIf="(shippingAddressCountry?.errors?.['required'] )">
                                        Quốc gia không được để trống
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Tỉnh/Thành phố
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <select  formControlName="city" >
                                    <option *ngFor="let city of shippingAddressCities" [ngValue]="city">{{city.name}}</option>
                                </select>
                                <div *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)" class="alert alert-danger">
                                    <div *ngIf="(shippingAddressCity?.errors?.['required'] )">
                                        Tỉnh/Thành phố không được để trống
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Quận/Huyện
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <input type="text" formControlName="district" >

                                <div *ngIf="shippingAddressDistrict?.invalid && (shippingAddressDistrict?.dirty || shippingAddressDistrict?.touched)" class="alert alert-danger">
                                    <div *ngIf="shippingAddressDistrict?.errors?.['required']|| shippingAddressDistrict?.errors?.['allwhitespace']">
                                        Quận/Huyện không được để trống
                                    </div>
                                    <div *ngIf="shippingAddressDistrict?.errors?.['minlength']">
                                        Quận/Huyện ít nhất 3 ký tự
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Đường/phố
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <input type="text" formControlName="street" >
                                <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)" class="alert alert-danger">
                                    <div *ngIf="shippingAddressStreet?.errors?.['required']|| shippingAddressStreet?.errors?.['allwhitespace']">
                                        Đường/phố không được để trống
                                    </div>
                                    <div *ngIf="shippingAddressStreet?.errors?.['minlength']">
                                        Đường/phố ít nhất 3 ký tự
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Mã bưu điện
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <input type="text" formControlName="zipCode" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                địa chỉ nhận hàng
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <input type="text" formControlName="specificAddress" >
                                <div *ngIf="shippingAddressSpecificAddress?.invalid && (shippingAddressSpecificAddress?.dirty ||shippingAddressSpecificAddress?.touched)" class="alert alert-danger">
                                    <div *ngIf="shippingAddressSpecificAddress?.errors?.['required']|| shippingAddressSpecificAddress?.errors?.['allwhitespace']">
                                        địa chỉ nhận hàng không được để trống
                                    </div>
                                    <div *ngIf="shippingAddressSpecificAddress?.errors?.['minlength']">
                                        địa chỉ nhận hàng ít nhất 3 ký tự
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <!-- credit card -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Thanh toán thẻ tin dụng</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Loại thẻ
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <select  formControlName="cardType" >
                                    <option>Visa</option>
                                    <option>MasterCard</option>
                                    <option>Discover</option>
                                    <option>American Express</option>
                                </select>

                                <div *ngIf="cardType?.invalid && (cardType?.dirty || cardType?.touched)" class="alert alert-danger">
                                    <div *ngIf="(cardType?.errors?.['required'] )">
                                        Loại thẻ không được để trống
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                tên thẻ
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <input type="text" formControlName="nameOnCard" >

                                <div *ngIf="nameOnCard?.invalid && (nameOnCard?.dirty || nameOnCard?.touched)" class="alert alert-danger">
                                    <div *ngIf="nameOnCard?.errors?.['required']|| nameOnCard?.errors?.['allwhitespace']">
                                        tên thẻ không được để trống
                                    </div>
                                    <div *ngIf="nameOnCard?.errors?.['minlength']">
                                        tên thẻ ít nhất 3 ký tự
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Mã số thẻ
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <input type="text" formControlName="cardNumber" >

                                <div *ngIf="cardNumber?.invalid && (cardNumber?.dirty || cardNumber?.touched)" class="alert alert-danger">
                                    <div *ngIf="cardNumber?.errors?.['required']">
                                        Mã số thẻ không được để trống
                                    </div>
                                    <div *ngIf="cardNumber?.errors?.['pattern']">
                                        Mã số thẻ có 16 chữ số
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                mã bảo mật
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <input type="text" formControlName="securityCode" >

                                <div *ngIf="securityCode?.invalid && (securityCode?.dirty || securityCode?.touched)" class="alert alert-danger">
                                    <div *ngIf="securityCode?.errors?.['required']">
                                        mã bảo mật không được để trống
                                    </div>
                                    <div *ngIf="securityCode?.errors?.['pattern']">
                                        mã bảo mật có 3 ký tự
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                tháng hết hạn
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <select  formControlName="expirationMonth" >
                                    <option *ngFor="let month of creditCardMonths">{{month}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Năm hết hạn
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-space">
                                <select  formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">{{year}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- review order -->

                <div class="form-area">
                    <h3>Đơn hàng của bạn</h3>
                    <p>Tổng số lượng: {{totalQuantity}}</p>
                    <p>Tổng tiền: {{totalPrice | currency:'VND':true}}</p>
                    <p>Phí vận chuyển: Miễn phí</p>
                </div>
                <!-- submit button -->
                <div class="text-center">
                    <button class="btn btn-info" type="submit">Đặt hàng</button>
                </div> 
            </form>
        </div>
    </div>
</div>
