
<div class="main-content" style="margin-bottom: -75px;">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let tempbook of books" class="col-md-3" >
                    <div class ="product-box">
                        <a routerLink="/books/{{tempbook.id}}" class="img-responsive">
                            <img src = "{{tempbook.thumbnail}}" class="img-responsive" >
                        </a>

                        <a routerLink="/books/{{tempbook.id}}" class="img-responsive" style="text-decoration: none;">
                            <h1 class="book-title">{{tempbook.title}}</h1>
                        </a>
                        
                        <div class="price">{{tempbook.unitPrice | currency:'VND'}}</div>
                        <button (click)="addToCart(tempbook)" class="btn btn-primary btn-sm">Thêm vào giỏ hàng</button>
                    </div>
                    <!-- neu khong có sách -->
                   
                </div>
                <div *ngIf="books?.length == 0" class="alert alert-warning">
                    Không tìm thấy sách
                </div>
            </div> 
            <!-- footer -->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%;">
                                <ngb-pagination
                                    [(page)]="thePageNumber"
                                    [pageSize]="thePageSize"
                                    [collectionSize]="theTotalElements"
                                    [maxSize]="5"
                                    [boundaryLinks]="true"
                                    (pageChange)="listBooks()">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end footer -->
        </div>
    </div>

</div>
